body {
	font-family: $main-font;
	font-size: 100%;
	color: $elephant;
	line-height: 1.5;
	background-color: $white;
	text-align: center;
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

section {
	padding-top: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 2rem;

	a,
	a:visited,
	a:hover,
	a:link {
		color: $elephant;
	}

	h2 {
		@media (min-width: 800px) {
			text-align: center;
		}
	}

	@media (min-width: 800px) {
		text-align: left;
	}

	.to-top {
		margin-top: 2rem;
		text-align: center;
		display: block;
	}
}

img {
	max-width: 100%;
}

h1 {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	font-size: 2rem;
	line-height: 1.1;
	color: $half-baked;

	@media (min-width: 800px) {
		float: left;
	}
}

h2 {
	margin-bottom: 0.75rem;
	font-size: 2rem;
}

h3 {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
}

h4 {
	margin-bottom: 1rem;
}

p, ul {
	margin-bottom: 0.75rem;
}

#new-clients {
	background-color: $scandal;
}

#contact {
	background-color: $hawkes-blue;
}

.fa-facebook-official {
	font-size: 1.5rem;
}

.to-top {
	font-size: 0.75rem;
}

header {
	@media (min-width: 800px) {
		text-align: left;
		padding: 0 10px;
		clear: both;
	}
}

footer {
	font-size: 0.75rem;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 66px;

	a,
	a:visited,
	a:hover,
	a:link {
		color: $elephant;
	}

	p {
		padding-top: 1rem;
	}
}