@import url('https://fonts.googleapis.com/css?family=Ruluko');

$main-font: 'Ruluko', sans-serif;

$white: #FFFFFF;
$black: #000000;
$half-baked: #92BBD1;
$elephant: #164459;
$hawkes-blue: #E7F1FD;
$iron: #CFD0D2;