form {
	label {
		display: none;
	}

	input, textarea {
		display: block;
		margin: 0 auto;
		width: 80%;
		margin-bottom: 0.75rem;
		border: 0;
		border-radius: 0;
		-webkit-appearance: none;
		text-align: center;
		font-size: 1rem;
		font-family: $main-font;
		color: $elephant;
		padding: 5px 3px;

		@media (min-width: 800px) {
			margin: 0 0 0.75rem 0;
			text-align: left;
			width: 40%;
		}
	}

	textarea {
		height: 200px;

		@media (min-width: 800px) {
			width: 60%;
		}
	}

	input[type="submit"] {
		width: 40%;
		background-color: $white;
		border: 3px solid $elephant;
		text-align: center;

		@media (min-width: 800px) {
			width: 15%;
		}
	}

	::-webkit-input-placeholder {
	   color: $iron;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: $iron;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $iron;  
	}

	:-ms-input-placeholder {  
	   color: $iron;  
}
}